$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #74afad;
$white-background: #fff;
$main-text-color: #eee;
$dark-text-color: #000;

nav {
  padding: 10px;
}

a {
  color: $main-text-color;
}

body {
  background-color: $background-color;
  color: $main-text-color;
}

div {
  background-color: $white-background;
  border-radius: 20px;
  color: $dark-text-color;
  margin: 20%;
  padding: 20px;
  width: 60%;
}

h1 {
  text-align: center;
}

h3 {
  text-align: left;
}

p {
  text-align: left;
}

li {
  display: inline;
  padding-left: 15px;
}
